.mainPic {
    background: url("../img/main2.jpg") center;
    background-size: cover;
    margin-bottom: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 24px;
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

h5{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 10px 20px 10px;
    text-shadow: 0px 0px 15px rgb(3, 3, 3);
}

.btn{
    margin: 45px auto auto 0;
    color: white;
    border-radius: 5px;
    background-color: #a90013;
    height: 60px;
    font-weight: 700;
    font-size: 16px ;
    padding: 0px 30px;
}

.btn:hover{
    filter: brightness(0.8);
}

.map{
    height: 65vh;
    margin-top: 30px;
    padding: 0px;
}

.mapDescription{
    font-size: 18px;
    margin: 30px auto;
    text-align: center;
    padding: 0 0.75rem;
    line-height: 1.5;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.aboutMapTxt, .aboutAuthorsTxt{
    font-size: 28px;
    padding: 60px 0px;
    text-align: center;
}

.places{
    font-weight: 300;
    padding: 0 0.75rem;
}

.places p:first-child, .places p b{
    font-weight: 700;
}

.places p:first-child{
    margin-bottom: 0.25rem;
}

.ideaFoundationTxt {
    margin-top: 30px;
    font-size: 18px;
}

.ideaFoundationTxt b{
    font-weight: 700;
}

.info{
    background-color: #dfdfe6;
}

.aboutMap{
    padding-bottom: 70px;
    margin: 0 auto;
    text-align: center;
}

.aboutMapContainer{
    padding: 0 20px;
    margin: 0 auto;
    font-weight: 300;
}

.aboutMapTxt{
    font-weight: 600;
}

a{
    color: #ff8562;
    text-decoration: none;
    font-weight: 300;
}

.author{
    margin-bottom: 30px;
    padding: 0 0.75rem;
    font-weight: 300;
    flex-basis: 100%;
}

.author b{
    font-weight: 600;
}

.authors{
    font-size: 16px;
    padding: 20px 0 0 0;
}

.aboutAuthors, .footer-content{
    padding: 0 20px;
    max-width: 640px;
    margin: 0 auto;
}

.footerContainer{
    background-color: #0d0d0d;
    padding: 60px 0px 75px 0px;
    text-align: center;
}

.footer-txt{
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.cardContainer{
    position: relative;
    vertical-align: bottom;
    flex-basis: 100%;
}

.cardContainer img{
    vertical-align: middle;
    filter: brightness(40%);
}

.cardContainer img:hover{
    transition: all ease-in-out .25s;
    filter: brightness(52%);
}

.cardDescription{
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 12px;
    font-weight: 300;
    padding: 20px;
    margin: 30px auto;
}

.cardHeader{
    font-size: 28px;
    font-weight: 600;
    line-height: 1.23;
}

@media screen and (min-width: 480px) {
    h1{
        font-size: 32px;
    }
}

@media screen and (min-width: 640px){
    .mapDescription{
        font-size: 20px;
    }

    .btn{
        padding: 0px 60px;
    }

    h1{
        font-size: 68px;
    }

    h5 {
        font-size: 20px;
    }

    .aboutMapTxt, .aboutAuthorsTxt, .cardHeader{
        font-size: 32px;
    }

    .ideaFoundationTxt{
        font-size: 20px;
    }

    .authors, .footer-txt{
        font-size: 18px;
    }

    .cardDescription{
        font-size: 14px;
    }
}

@media screen and (min-width: 960px){
    .aboutAuthors{
        max-width: 960px;
    }

    .cardContainer{
        flex-basis: 50%;
    }

    .cardDescription{
        padding: 20px 40px;

    }

    .mapDescription{
        text-align: left;
        width: 960px;
    }

    .ideaFoundationTxt{
        text-align: left;
    }

    .author{
        flex-basis: 33.333333%;
    }

    .aboutMapContainer{
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px){
    .mainPic{
        background-attachment: fixed;
    }
    
    h1{
        font-size: 72px;
    }

    h5 {
        font-size: 22px;
    }

    .mapDescription{
        font-size: 22px;
        margin: 60px 120px;
    }

    .aboutMapTxt, .aboutAuthorsTxt, .cardHeader{
        font-size: 36px;
    }

    .ideaFoundationTxt{
        font-size: 22px;
    }

    .authors, .footer-txt{
        font-size: 20px;
    }

    .aboutAuthors, .footer-content, .aboutMapContainer{
        max-width: 1200px;
    }

    .cardDescription{
        font-size: 16px;
    }
}
